.categories {
  padding: var(--section-padding);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  --section-title-color: var(--olive);
}

app-category-card {
  max-width: 1460px;
}

.dots--overlay {
  position: absolute;
  bottom: 24px;
  right: 48px;
  z-index: 2;
}

@media (max-width: 720px) {
  .dots--overlay {
    right: 24px;
    bottom: 16px;
  }
}
